.element {
  position: relative;
  width: 100%;
  display: inline-flex;
  gap: 10%;
  height: 100px;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
  background-color: rgb(20, 20, 20);
  box-shadow: inset rgba(255, 215, 0, 0.2) 0px 0px 5px 0px,
    rgba(0, 87, 184, 0.3) 0px 0px 5px 0px;
  z-index: 0;
}

.element > img {
  position: relative;
  opacity: 0.1;
  object-fit: cover;
  z-index: -1;
}

.text {
  margin: 5px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.linkContainer {
  width: 350px;
}
.mediaInfo {
  display: inline-flex;
  gap: 20px;
}

.imageContainer {
  position: relative;
  top: 0;
  height: 100%;
  left: 0;
  width: 70px;
  aspect-ratio: 1/3;
}

@media (max-width: 850px) {
  .element {
    width: 90%;
  }
}
