:root {
  --header-height: 80px;
  --resize: 850px;
  --background-color: #1d1e1f;
  --blueUk: 0, 87, 184;
  --yellowUk: 255, 215, 0;
  @media (max-width: 850px) {
    --header-height: 60px;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  font-family: Copperplate, Fantasy;
  color: #fff;
  min-height: 100dvh;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
