.discoverTabs {
  position: sticky;
  height: auto;
  padding: 1% 2% 1.5% 2%;
  top: var(--header-height);
  bottom: 20px;
  display: flex;
  background-color: rgb(37, 38, 39);
  gap: 5px;
  z-index: 2;
  flex-wrap: wrap;
  justify-content: center;
}
