.headerLogo {
  cursor: pointer;
  /* width: 100%; */
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(
    20deg,
    rgb(var(--blueUk)),
    rgb(var(--yellowUk)),
    rgb(var(--blueUk))
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.header {
  position: sticky;
  height: var(--header-height);
  min-height: 5%;
  top: 0;
  left: 0;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 2fr 5fr;

  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0 2% 0 2%;
  z-index: 3;

  backdrop-filter: blur(5px);
  background-color: var(--header-main-color);
}

.headerElements {
  height: var(--header-height);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5%;
  align-items: center;
  margin: 0;
}

@media (max-width: 300px) {
  .headerLogo span {
    display: none;
  }
  .headerLogo::after {
    content: "LBS";
  }
}

@media (max-width: 850px) {
  .header {
    display: flex;
    justify-content: center;
    & > :first-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .headerElements {
    display: none;
  }
}
