.link {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 200px;
  border-radius: 15px;
  height: 90%;
  border: 1px solid transparent;
  padding: 0px 10px;
}
.image {
  border-radius: 50%;
  transition: 0.2s height ease, 1s width ease;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
  transition: 0.2s font-size ease;
}

.link:hover {
  padding: 0px 10px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 15px 1px rgba(var(--blueUk), 0.1),
    0px 0px 15px 1px rgba(var(--blueUk), 0.1);

  border: 1px solid rgba(255, 255, 255, 0.3);
}
