.link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.image {
  border-radius: 50%;
  transition: 0.2s height ease, 1s width ease;
}
.link:hover > .image {
  height: 47px;
  width: 47px;
}
.name {
  transition: 0.2s font-size ease;
}

.link:hover > .name {
  font-size: large;
}
