.footer_container {
  height: 250px;
  width: 100%;
  background-color: #252627;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_section {
  display: flex;
  flex-direction: column;
}

.section_name {
}
