.footer_container {
  height: var(--footer_height);
  width: 100%;
  background-color: #252627;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.footer_section {
  display: flex;
  flex-direction: column;
}

@media (max-width: 300px) {
  .footer_container {
    display: none;
  }
}

@media (max-width: 850px) {
  .footer_container {
    display: none;
  }
}
