.multitabs {
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  height: auto;
  flex-wrap: wrap;
  gap: 0px;
  border-radius: 20px;
  border: 1px solid rgba(var(--blueUk), 0.5);
  background-color: rgba(55, 56, 57, 0.9);
  align-items: center;
  color: rgb(200, 200, 200);
}
.tab {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  flex-grow: 1;
  display: flex;
  padding: 10px 5px 10px 5px;
  justify-content: center;
  border-radius: 20px;
}
.tab:focus:not(.selected) {
  border: 1px blue solid;
}

.selected {
  background-color: #000;
  background-color: rgba(5, 5, 30, 0.3);
  color: rgb(169, 191, 245);
  border: 1px solid rgba(var(--yellowUk), 0.4);
}

.tab:hover:not(.selected) {
  border: 1px solid rgba(174, 174, 174, 0.3);
  box-shadow: 3px 3px 10px rgba(255, 215, 0, 0.1),
    -4px -4px 10px rgba(0, 87, 184, 0.2);
  padding: 10px 4px 10px 4px;
  color: white;
}

.loading {
  animation: snakeAnimation 1s linear infinite;
}

@keyframes snakeAnimation {
  0% {
    box-shadow: 3px 3px 10px rgba(var(--yellowUk), 0.3),
      -3px -3px 10px rgba(var(--blueUk), 0.5);
  }
  25% {
    box-shadow: 3px -3px 10px rgba(var(--yellowUk), 0.3),
      -3px 3px 10px rgba(var(--blueUk), 0.5);
  }
  50% {
    box-shadow: -3px -3px 10px rgba(var(--yellowUk), 0.3),
      3px 3px 10px rgba(var(--blueUk), 0.5);
  }
  75% {
    box-shadow: -3px 3px 10px rgba(var(--yellowUk), 0.3),
      -3px -3px 10px rgba(var(--blueUk), 0.5);
  }
  100% {
    box-shadow: 3px 3px 10px rgba(var(--yellowUk), 0.3),
      -3px -3px 10px rgba(var(--blueUk), 0.5);
  }
}
